body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
    font-weight: normal;
    font-family: cursive;
}

header {
    background-color: rgb(178, 219, 254);
    position: fixed;
    top: 0cm;
    padding-left: 50%;
    padding-right: 100%;
    border-left: 50%;
}

footer {
    font-size: x-small;
}