body {
    background-color: beige;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.subtitle {
    font-weight: normal;
    font-family: cursive;
}

footer {
    font-size: x-small;
}